 
<nav class="navbar navbar-static-top navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">Empregos</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
  <emp-login></emp-login>
</nav>

 <div class="jumbotron">
   <div class="container">
      <h1>Encontre o emprego perfeito</h1>
      <p>Salarios de R$1,000 ate R$20,000 por mes.</p>
      <a href="#" class="btn btn-primary btn-lg">Cadastre-se</a>
    </div>
 </div>

 <div class="container">
   <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <!-- <img class="right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}"> -->
        <h3>Cadastre-se</h3>
        <p>blah blah</p>
      </div>
      <div class="col-md-4">
        <!-- <img class="right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}"> -->
        <h3>Encontre companhias interessantes</h3>
        <p>blah</p>
      </div>
      <div class="col-md-4">
          <!-- <img class="right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}"> -->
        <h3>Get hired</h3>
        <p>blah again</p>
      </div>
   </div>
  <hr>
  <footer>
    <p>&copy; Empregos 2016</p>
  </footer>
</div> <!-- /container -->
